SchedulerWeb/.vs/
SchedulerWeb/packages/
SchedulerWeb/SchedulerWeb/obj/
SchedulerWeb/SchedulerWeb/bin/
SchedulerWeb/SchedulerWeb/SchedulerWeb/SchedulerWeb.csproj.user
SchedulerWeb/SchedulerWeb/Web.config