
@{
    ViewBag.Title = "Final Schedule Settings";
}

<h2>Select Settings for Final Schedule</h2>

<hr />

<h4>Select School</h4>
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-5">

    </div>
</div>

<hr />

<h4>Select Majors</h4>
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-5">

    </div>
</div>

<hr />

<h4>Select Minors</h4>
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-5">

    </div>
</div>

<hr />

<h4>Select Taken Major/Minor Courses</h4>
<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<hr />

<h4>Select Taken Liberal Arts Courses</h4>
<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<a class="btn btn-primary" href="@Url.Action("FinalSchedule", "Schedule")">Next</a>

@section Scripts {
    <script>
        $(function () {
            var element = document.getElementById("ActiveSchedule");
            element.classList.add("active");
        });
    </script>
}